* {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: #121213;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fa-regular  {
    visibility: visible;
}

.fa-solid {
    visibility: visible;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.title-container {
    text-align: center;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #3a3a3c;
    padding: 0;
    margin: 0px;
}

.title-container p {

    font-family: 'Crete Round', serif;
    font-size: 30px;
    margin: 0;
}

.tile-container {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: gri;
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 65px;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 2px;
    font-size: 25px;
    font-weight: 600;
}

.message-container {
    height: 30px;
    padding: 10px
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.reset {
    width: 100px;
    height: 48px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
    visibility: hidden;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.tile.animate {
    animation-name: bounce;
    animation-duration: 750ms;
}

@keyframes bounce {
    0%, 20% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(-15px);
    }

    80% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0px);
    }
}

.pop{
  animation: 0.5s linear pop;
}

@keyframes pop {
    0%{
        transform: scale(0.8);
        opacity:0
    }
    40%{
        transform: scale(1.1);
        opacity: 1;
    }
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}

@media only screen and (max-width:500px) {
    .key-container {
        width: 350px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .key-container button {
        width: 26px;
        height: 38px;
        margin: 2px;
        padding: 1px;
        text-align: center;
    }

    .key-container button:nth-child(11) {
        margin-left: 24px;
    }
    .key-container button:nth-child(19) {
        margin-right: 10px;
    }

    .key-container button:nth-child(20),
    .key-container button:nth-child(28) {
        width: 47px;
    }
    .key-container button:nth-child(20){
        margin-left: 10px;
    }

    .tile-container div {
        display: flex;
        justify-content: center;
    }

    .tile-container .tile {
        width: 42px;
        height: 42px;
        border: 2px solid #3a3a3c;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 2px;
    }

    .tile-container {
        width: 330px;
        margin-bottom: 20px;
    }

    .message-container {
        height: 25px;
        padding: 5px
    }

    .message-container p {
        background-color: #818384;
        border-radius: 10px;
        padding: 10px;
        margin: 0;
        font-size: 12px;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal h2{
      text-align: center;
  }
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #121213;
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
.modal-body p {
    font-size: 14px;
}

.modal-body .tile {
    width: 42px;
    height: 42px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 2px;
}

.modal-body #help-row {
    display: flex;
    flex-direction: row;
}
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #121213;
    color: white;
  }
  
  .modal-body {
      padding: 16px 16px;
        margin-left: 10px;
    }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #121213;
    color: white;
  }